<div class="ui container">
    <label class="ui right pointing label grey">REGISTER NEW STUDENT</label>
    <button class="ui button teal" [ngClass]="{'disabled':newStudent}" (click)="newStudent = true">Add New
        Student</button>

    <div class="ui divider"></div>



    <div class="card" *ngIf="newStudent">
        <div>
            <p>Full Name</p>
        </div>
        <div>
            <div class="ui fluid input">
                <input type="text">
            </div>
        </div>
        <br>
        <br>
        <div>
            <p>Date of Birth</p>
        </div>
        <div>
            <div class="ui fluid input">
                <input type="date">
            </div>
        </div>
        <br>
        <br>
        <div>
            <p>Contact Number</p>
        </div>
        <div>
            <div class="ui fluid input">
                <input type="text">
            </div>
        </div>
        <br>
        <br>
        <div>
            <p>NIC Number</p>
        </div>
        <div>
            <div class="ui fluid input">
                <input type="text">
            </div>
        </div>
        <br>
        <br>
        <div>
            <p>Registered Courses IDs</p>
        </div>
        <div>
            <div *ngFor="let course of courses" class="ui checkbox">
                <input type="checkbox">
                <label>{{course.id}} : {{course.courseName}}</label>
                <div class="ui divider"></div>
            </div>
        </div>
        <div>
            <p>Student ID</p>
        </div>
        <div>
            <div class="ui fluid input">
                <input type="text">
            </div>
        </div>
        <br>
        <br>



        <div style="display: flex; justify-content: space-around;">
            <button style="background: linear-gradient(to bottom, #2a6199, rgb(87, 99, 140))"
                (click)="newStudent = false" class="ui button green">SAVE</button>
            <button style="background: linear-gradient(to bottom, #106c4c, rgb(87, 140, 116))"
                (click)="newStudent = false" class="ui button red">DISCARD</button>

        </div>
    </div>
</div>