<div class="ui container">
    <label class="ui right pointing label grey">REGISTER NEW STUDENT</label>
    <button class="ui button teal" [ngClass]="{'disabled':newStudent}" (click)="newStudent = true">Add New
        Student</button>

    <div class="ui divider"></div>


    <div class="card" *ngIf="newStudent">
        <div class="ui segments">
            <div class="ui segment">
                <p>Full Name</p>
            </div>
            <div class="ui secondary segment">
                <div class="ui fluid input">
                    <input type="text">
                </div>
            </div>
            <div class="ui segment">
                <p>Date of Birth</p>
            </div>
            <div class="ui secondary segment">
                <div class="ui input">
                    <input type="date">
                </div>
            </div>
            <div class="ui segment">
                <p>Contact Number</p>
            </div>
            <div class="ui secondary segment">
                <div class="ui input">
                    <input type="text">
                </div>
            </div>
            <div class="ui segment">
                <p>NIC Number</p>
            </div>
            <div class="ui secondary segment">
                <div class="ui input">
                    <input type="text">
                </div>
            </div>
            <div class="ui segment">
                <p>Registered Courses IDs</p>
            </div>
            <div class="ui secondary segment">
                <div *ngFor="let course of courses" class="ui checkbox">
                    <input type="checkbox">
                    <label>{{course.id}} : {{course.courseName}}</label>
                    <div class="ui divider"></div>
                </div>
            </div>
            <div class="ui segment">
                <p>Student ID</p>
            </div>
            <div class="ui secondary segment">
                <div class="ui input">
                    <input type="text">
                </div>
            </div>
        </div>


        <div style="display: flex; justify-content: space-around;">
            <button style="width: 10vw;" (click)="newStudent = false" class="ui button green">SAVE</button>
            <button (click)="newStudent = false" class="ui button red">DISCARD</button>

        </div>
    </div>
</div>