<div class="ui container">
    <div class="card">
        <div class="ui buttons teal">
            <button (click)="showAll=!showAll" class="ui button">Toggle All Students</button>
        </div>
    </div>

    <div *ngIf="showAll" class="card" style="padding-left: 30vh; padding-right: 30vh;">
        <div class="card" style="background-color:rgb(87, 99, 140);">
            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th colspan="3" style="text-align: center; text-transform: uppercase;">
                            {{studentList[currentPage].fullName}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <i class="folder icon"></i>
                            Date of Birth
                        </td>
                        <td>{{studentList[currentPage].dateOfBirth}}</td>

                    </tr>
                    <tr>
                        <td>
                            <i class="folder icon"></i> NIC Number
                        </td>
                        <td>{{studentList[currentPage].nicNumber}}</td>

                    </tr>
                    <tr>
                        <td>
                            <i class="folder icon"></i> Registered Courses
                        </td>
                        <td>{{studentList[currentPage].registeredCoursesId}}</td>

                    </tr>
                    <tr>
                        <td>
                            <i class="folder icon"></i> Contact Number
                        </td>
                        <td>{{studentList[currentPage].contactNumber}}</td>

                    </tr>
                    <tr>
                        <td>
                            <i class="folder icon"></i> Student ID
                        </td>
                        <td>{{studentList[currentPage].studentId}}</td>

                    </tr>

                </tbody>
            </table>


            <div class="ui button teal" [ngClass]="{'disabled': show }" (click)="onClick()">Update</div>
        </div>

        <br>

        <div class="ui container card" *ngIf="show" style="background-color: rgb(87, 99, 140);width: 75vw;">
            <h2 style="color: rgb(255, 255, 255); text-align: center;">Edit Student Details</h2>

            <div class="ui large label">
                Student Name : {{studentList[currentPage].fullName}}
            </div>
            <div class="ui large fluid input">
                <input (input)="editName($any($event.target).value)" type="text" placeholder="Enter new student name..">
            </div>

            <br>

            <div class="ui large label">
                NIC Number : {{studentList[currentPage].nicNumber}}
            </div>
            <div class="ui large fluid input">
                <input (input)="editNic($any($event.target).value)" type="text" placeholder="Enter new NIC number..">
            </div>

            <br>

            <div class="ui large label">
                Date of birth : {{studentList[currentPage].dateOfBirth}}
            </div>
            <div class="ui large fluid input">
                <input (input)="editDateofBirth($any($event.target).value)" type="text"
                    placeholder="Enter new date Of Birth..">
            </div>

            <br>

            <div class="ui large label">
                Contact Number : {{studentList[currentPage].contactNumber}}
            </div>
            <div class="ui large fluid input">
                <input (input)="editContact($any($event.target).value)" type="text"
                    placeholder="Enter new contact Number..">
            </div>

            <br>

            <div class="ui large label">
                Registered Courses : {{studentList[currentPage].registeredCoursesId}}
            </div>
            <div class="ui large fluid input">
                <input (input)="editCourses($any($event.target).value)" type="text"
                    placeholder="Enter new registered courses Ids seperate them by commas">
            </div>
            <br>
            <div class="ui large label">
                Student ID : {{studentList[currentPage].studentId}}
            </div>
            <div class="ui large fluid input">
                <input (input)="editStudentId($any($event.target).value)" type="text"
                    placeholder="Enter new student ID..">
            </div>
            <br>
            <br>
            <div class="actions">
                <div class="ui buttons">
                    <button style="margin: 5vh;" class="ui button red"
                        (click)="deleteStudent(currentPage)">Delete</button>
                    <button style="margin: 5vh;" class="ui button blue"
                        (click)=" updateValues(currentPage)">Update</button>
                    <button style="margin: 5vh;" class="ui button grey" (click)="onClick()">Close</button>
                </div>
            </div>
        </div>
        <div class="ui container">

            <div *ngIf="!show" (click)="show = false" class="ui pagination menu">

                <a class="item" [ngClass]="{disabled:currentPage ===0}"
                    (click)="currentPage = currentPage-1">Previous</a>

                <ng-container *ngFor="let course of studentList; let i = index;">
                    <a class="item" *ngIf="checkWindowIndex(i)" (click)="currentPage = i"
                        [ngClass]="{active:i===currentPage}">{{i+1}}</a>
                </ng-container>

                <a class="item" [ngClass]="{disabled:currentPage ===studentList.length-1}"
                    (click)="currentPage = currentPage+1">Next</a>

            </div>

        </div>
    </div>


</div>