<div class="ui container">
    <div class="card">
        <div class="ui buttons teal">
            <button (click)="showAll=!showAll" class="ui button">Toggle All Courses</button>
        </div>
    </div>

    <div *ngIf="showAll" class="card">
        <div class="card" style="background-color:rgb(87, 99, 140);">
            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th colspan="3" style="text-align: center; text-transform: uppercase;">
                            {{courseList[currentPage].courseName}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <i class="folder icon"></i>
                            Course ID
                        </td>
                        <td>{{courseList[currentPage].id}}</td>

                    </tr>
                    <tr>
                        <td>
                            <i class="folder icon"></i> Duration
                        </td>
                        <td>{{courseList[currentPage].duration}}</td>

                    </tr>
                    <tr>
                        <td>
                            <i class="folder icon"></i> Course Fee
                        </td>
                        <td>{{courseList[currentPage].courseFee}}</td>

                    </tr>
                    <tr>
                        <td>
                            <i class="folder icon"></i> Course Type
                        </td>
                        <td>{{courseList[currentPage].type}}</td>

                    </tr>

                </tbody>
            </table>

            <div class="ui button teal" [ngClass]="{'disabled': show }" (click)="onClick()">Update</div>
        </div>

        <br>

        <div class="ui container card" *ngIf="show" style="background-color: rgb(87, 99, 140);width: 75vw;">
            <h2 style="color: rgb(255, 255, 255); text-align: center;">Edit Course Details</h2>

            <div class="ui  label teal">
                Course Name : {{courseList[currentPage].courseName}}
            </div>
            <div class="ui  fluid input">
                <input (input)="editCourseName($any($event.target).value)" type="text"
                    placeholder="Enter new course name..">
            </div>

            <br>

            <div class="ui  label teal">
                Course Duration : {{courseList[currentPage].duration}} months
            </div>
            <div class="ui  fluid input">
                <input (input)="editDuration($any($event.target).value)" type="text" placeholder="Enter new duration..">
            </div>

            <br>

            <div class="ui  label teal">
                Course Fee : Rs.{{courseList[currentPage].courseFee}}
            </div>
            <div class="ui  fluid input">
                <input (input)="editFee($any($event.target).value)" type="text" placeholder="Enter new course fee..">
            </div>

            <br>

            <div class="ui  label teal">
                Course Type : {{courseList[currentPage].type}}
            </div>

            <select [(ngModel)]="newCourseType" class="ui dropdown">
                <option value="Full-Time">Full-Time</option>
                <option value="Part-Time">Part-Time</option>
            </select>

            <br>
            <br>

            <div class="ui  label teal">
                Course ID : {{courseList[currentPage].id}}
            </div>
            <div class="ui  fluid input">
                <input (input)="editID($any($event.target).value)" type="text" placeholder="Enter new course ID..">
            </div>
            <br>
            <br>
            <div style="display: flex; justify-content: space-around;">

                <button style="margin: 5vh;" class="ui button red" (click)="deleteCourse(currentPage)">Delete</button>
                <button style="margin: 5vh;" (click)=" updateValues(currentPage)" class="ui button blue">Update</button>
                <button style="margin: 5vh;" class="ui button grey" (click)="onClick()">Close</button>

            </div>
        </div>

        <div class="ui container">

            <div *ngIf="!show" (click)="show = false" class="ui pagination menu">

                <a class="item" [ngClass]="{disabled:currentPage ===0}"
                    (click)="currentPage = currentPage-1">Previous</a>

                <ng-container *ngFor="let course of courseList; let i = index;">
                    <a class="item" *ngIf="checkWindowIndex(i)" (click)="currentPage = i"
                        [ngClass]="{active:i===currentPage}">{{i+1}}</a>
                </ng-container>

                <a class="item" [ngClass]="{disabled:currentPage ===courseList.length-1}"
                    (click)="currentPage = currentPage+1">Next</a>

            </div>
        </div>

    </div>






</div>