<h1 class="ui header center aligned teal">
  <a href="">TRUSTPATH INSTITUTE</a>
</h1>

<div class="ui container">
  <div class="ui secondary pointing menu">
    <a class="item" routerLink="/courses" routerLinkActive="active">Courses Section</a>
    <a class="item" routerLink="/students" routerLinkActive="active">Students Section</a>
    <a class="item" routerLink="/register" routerLinkActive="active">Register Student</a>
  </div>
</div>


<div class="ui segment">
  <router-outlet></router-outlet>
</div>