<div class="card">

    <div class="ui huge label">
        Search Course-ID
    </div>
    <div class="ui icon input">
        <input type="text" placeholder="Search course id..." (input)="onInput($any($event.target).value)">
        <i class="search icon"></i>
    </div>

    <div *ngIf="searchResult" class="ui container">
        <div class="card"
            style="padding-left: 10vw; padding-right: 10vw; color: aliceblue; background-color: rgb(75, 79, 99);">
            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th colspan="3" style="text-align: center; text-transform: uppercase;">
                            {{searchedCourse.courseName}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <i class="folder icon"></i>
                            Course ID
                        </td>
                        <td>{{searchedCourse.id}}</td>

                    </tr>
                    <tr>
                        <td>
                            <i class="folder icon"></i> Duration
                        </td>
                        <td>{{searchedCourse.duration}} months</td>

                    </tr>
                    <tr>
                        <td>
                            <i class="folder icon"></i> Course Fee
                        </td>
                        <td>Rs. {{searchedCourse.courseFee}}</td>

                    </tr>
                    <tr>
                        <td>
                            <i class="folder icon"></i> Course Type
                        </td>
                        <td>{{searchedCourse.type}}</td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- <h2 class="item">{{searchedStudent.fullName}}</h2>
<div class="item">Student ID : {{searchedStudent.studentId}}</div>
<div class="item">Date of Birth : {{searchedStudent.dateOfBirth}}</div>
<div class="item">Contact Number : {{searchedStudent.contactNumber}}</div>
<div class="item">NIC Number : {{searchedStudent.nicNumber}}</div>
<div class="item">Registered Courses : {{searchedStudent.registeredCoursesId}}</div> -->